.al-grid {
  display: grid;
  width: 100%;
}

.al-grid--gap-xs {
  gap: var(--al-space-xs);
}

.al-grid--gap-sm {
  gap: var(--al-space-sm);
}

.al-grid--gap-md {
  gap: var(--al-space-md);
}

.al-grid--gap-lg {
  gap: var(--al-space-lg);
}

.al-grid--gap-xl {
  gap: var(--al-space-xl);
}

.al-grid--cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.al-grid--cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.al-grid--cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.al-grid--cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.al-grid--cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--al-space-xxxl) * 5), 1fr));
}
